<div class="container mt-4 bg-light p-4">
    <h1 >{{ welcome }}</h1>
    <p >{{ description }}</p>

    <div class="container mt-4 bg-light p-4 ">
        <h5 class="fw-bold mb-3">Promotions</h5>

        <div class="row">
            <!-- Left Column -->
            <div class="col-md-3">
                <p class="mb-3">{{ promotions[0] }}</p>
                <p class="mb-3">{{ promotions[2] }}</p>
            </div>

            <!-- Right Column -->
            <div class="col-md-3 text-md-end">
                <p class="mb-3"> {{ promotions[1]}}</p>
            </div>
        </div>
    </div>

</div>