<!-- edit-product.component.html -->
<div class="container mt-4">
  <h2>Ajouter un nouveau produit</h2>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="mt-4">
    <div class="mb-3">
      <label for="code" class="form-label">Code</label>
      <input type="text" class="form-control" id="code" formControlName="code">
      <div *ngIf="productForm.get('code')?.invalid && productForm.get('code')?.touched" class="text-danger">
        Code is required.
      </div>
    </div>

    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" formControlName="name">
      <div *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched" class="text-danger">
        Name is required.
      </div>
    </div>

    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input type="number" step="0.01" class="form-control" id="price" formControlName="price">
      <div *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched" class="text-danger">
        Price must be greater than or equals to 0.
      </div>
    </div>

    <div class="mb-3">
      <label for="quantity" class="form-label">Quantity</label>
      <input type="number" class="form-control" id="quantity" formControlName="quantity">
      <div *ngIf="productForm.get('quantity')?.invalid && productForm.get('quantity')?.touched" class="text-danger">
        Quantity must be greater than or equals to 0.
      </div>
    </div>

   
    <div class="d-flex gap-2">
      <button type="submit" class="btn btn-primary" [disabled]="productForm.invalid">Add</button>
      <!-- <button type="button" class="btn btn-secondary" (click)="onCancel()">Annuler</button> -->
    </div>
  </form>
</div>