<div class="container mt-4">
  <h2>Ajouter un nouveau produit</h2>
  <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)" class="mt-4">
    <div class="mb-3">
      <label for="code" class="form-label">Code</label>
      <input type="text" class="form-control" id="code" name="code" [(ngModel)]="product.code" required #code="ngModel">
      <div *ngIf="code.invalid && (code.dirty || code.touched)" class="text-danger">
        Code is required.
      </div>
    </div>

    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" name="name" [(ngModel)]="product.name" required #name="ngModel">
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
        Name is required.
      </div>
    </div>

    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input type="number" step="0.01" class="form-control" id="price" name="price" [(ngModel)]="product.price" required min="0" #price="ngModel">
      <div *ngIf="price.invalid && (price.dirty || price.touched)" class="text-danger">
        <div *ngIf="price.errors?.['required']">Price is required</div>
        <div *ngIf="price.errors?.['min']">Price must be greater than or equals to 0.</div>
      </div>
    </div>

    <div class="mb-3">
      <label for="quantity" class="form-label">Quantity</label>
      <input type="number" class="form-control" id="quantity" name="quantity" [(ngModel)]="product.quantity" required min="0" pattern="^[0-9]+$" #quantity="ngModel">
      <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="text-danger">
        <div *ngIf="quantity.errors?.['required']">Quantity is required</div>
        <div *ngIf="quantity.errors?.['min'] || quantity.errors?.['pattern']">Quantity must be a whole number greater than or equals to 0.</div>
      </div>
    </div>

   
    <div class="d-flex gap-2">
      <button type="submit" class="btn btn-primary" [disabled]="productForm.invalid">Add</button>
      <!-- <button type="button" class="btn btn-secondary" (click)="onCancel()">Annuler</button> -->
    </div>
  </form>
</div>